{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>The Food Store</title>
	<link rel="stylesheet" type="text/css" href="{% static 'homepage.css'%}">
</head>
<body>

	<div class="container">
		<div class="navbar">
			<img src="{% static 'food.jpg'%}" class="logo">
			<nav>
				<ul>
					<li><a href="login/">Login</a></li>
					<li><a href="register/">Sign up</a></li>


				</ul>
			</nav>

		
	</div>


</body>
</html>