{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Veg</title>
	<link rel="stylesheet" type="text/css" href="{% static 'veg-menu.css' %}">
</head>
<body>

	<div class="container">
		<div class="navbar">
			<img src="{% static 'food.jpg' %}" class="logo">
			<nav>
				<ul>
					<li><a href="/order-food/home/{{pk}}/">Home</a></li>
					<li><a href="/order-food/home/{{pk}}/myprofile/">My Profile</a></li>
					<li><a href="/order-food/home/{{pk}}/nonveg-menu/">Non veg</a></li>
					<li><a href="/order-food/home/{{pk}}/cart/">Cart</a></li>
					<li><a href="/order-food/">Log out</a></li>
					
				</ul>
			</nav>
			</div>
			<div class="drop">
		<form method="post">
		{% csrf_token %}
				<select class="s1", name="food">
                    {% for i in veg_menu %}
						<option value="{{i.1}}">{{i.1}}</option>
					{% endfor %}
				</select>
  <br><br>

   				<select class="s1", name="qty">
   					<option value="1" selected >1</option>
   					<option value="2">2</option>
   					<option value="3">3</option>
   					<option value="4">4</option>
   					<option value="5">5</option>
   					<option value="6">6</option>
   					<option value="7">7</option>
   					<option value="8">8</option>
   					<option value="9">9</option>
   					<option value="10">10</option>
   				</select>


		<br> <br>
		<br><br>
		<input type="submit" value="Add to Cart">
		
	

		<a href="/order-food/home/{{pk}}/"> <input type="button" value="Back"></a>

	  </form>  			
      </div> 
        
    </div>

</body>
</html>